/* Estilo global para el cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Fondo suave */
    color: #000000; /* Color de texto oscuro */
}

/* Estilo para los botones */
button, .btn {
  background-color: #003366;  /* Azul oscuro */
  color: white;
}

button:hover, .btn:hover {
  background-color: #004084;  /* Azul más oscuro al pasar el cursor */
}

/* Ajustar el login para que esté centrado */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Ajustes de color para los textos de los reportes */
.card-title {
    color: #004084;  /* Color para el título de los objetos reportados */
}

.card-text {
    color: #555;  /* Descripción en color gris más oscuro */
}

/* Modificar color de los textos de los reportes */
.card-body {
    color: #333; /* Color de texto en los reportes */
}

/* Login sin barra de navegación */
.login-page .navbar {
    display: none;
}
/* Cambiar color del texto de los títulos */
h2, .card-title {
    color: #000000;  /* Negro */
}

/* Cambiar el color de los botones de "Buscar" a "Negro" */
button {
  background-color: #003366;  /* Azul oscuro, mismo color que el menú */
  color: white;
}
