{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login-container">
  <!-- Sección izquierda con el fondo celeste -->
  <div class="left-section"></div>

  <!-- Sección derecha del formulario -->
  <div class="right-section">
    <div class="form-container">
      <!-- Título y descripción -->
      <h2 class="text-center">UTP +</h2>
      <p class="text-center">Cercana, dinámica y flexible</p>
      <p class="text-center">Ingresa tus datos para iniciar sesión.</p>

      <form method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
          <label for="username" class="form-label">Código UTP</label>
          {{ form.username(class="form-control form-control-lg", placeholder="Ingresa tu usuario") }}
          <small class="form-text text-muted">Ejemplo de usuario: U1533148 (no digitar el @utp.edu.pe)</small>
        </div>

        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          {{ form.password(class="form-control form-control-lg", placeholder="Ingresa tu contraseña") }}
        </div>

        <button type="submit" class="btn btn-primary btn-lg w-100 rounded-pill shadow-sm">
          Iniciar sesión
        </button>
      </form>

      <p class="text-center mt-3">
        ¿No tienes cuenta? <a href="{{ url_for('register') }}">¡Regístrate aquí!</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
