{% extends 'base.html' %}

{% block title %}Reportar Objeto - Objetos Perdidos UTP{% endblock %}

{% block content %}
<h2 class="mb-4 text-center text-primary fw-bold">Reportar Objeto Perdido</h2>

<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre del Objeto</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
  </div>

  <div class="mb-3">
    <label for="area" class="form-label">Ubicación</label>
    <select class="form-select" id="area" name="area" required>
      <option value="Cafetería">Cafetería</option>
      <option value="Cancha">Cancha</option>
      <option value="Pasillo">Pasillo</option>
      <option value="Piso">Piso</option>
      <option value="Salón">Salón</option>
      <option value="Laboratorio">Laboratorio</option>
    </select>
  </div>

  <!-- Nuevo campo para seleccionar Aula o Laboratorio -->
  <div class="mb-3">
    <label for="lugar" class="form-label">Lugar:</label>
    <select class="form-select" id="lugar" name="lugar" required>
      <option value="aula">Aula</option>
      <option value="laboratorio">Laboratorio</option>
    </select>
  </div>

  <!-- Campo para el número de salón, que aparecerá solo si se selecciona Aula o Laboratorio -->
  <div class="mb-3" id="salon_input" style="display:none;">
    <label for="numero_salon" class="form-label">Número de Salón:</label>
    <input type="text" class="form-control" id="numero_salon" name="numero_salon">
  </div>

  <div class="mb-3">
    <label for="fecha_encuentro" class="form-label">Fecha de Encuentro</label>
    <input type="date" class="form-control" id="fecha_encuentro" name="fecha_encuentro" required>
  </div>

  <div class="mb-3">
    <label for="nombre_persona" class="form-label">Nombre de la Persona que Encontró el Objeto</label>
    <input type="text" class="form-control" id="nombre_persona" name="nombre_persona" required>
  </div>

  <div class="mb-3">
    <label for="contacto" class="form-label">Contacto</label>
    <input type="text" class="form-control" id="contacto" name="contacto" required>
  </div>

  <div class="mb-3">
    <label for="foto" class="form-label">Subir Foto (Opcional)</label>
    <input class="form-control" type="file" id="foto" name="foto">
  </div>

  <button type="submit" class="btn btn-primary">Reportar Objeto</button>
</form>

<script>
  document.getElementById('lugar').addEventListener('change', function () {
    if (this.value === 'aula' || this.value === 'laboratorio') {
      document.getElementById('salon_input').style.display = 'block';
    } else {
      document.getElementById('salon_input').style.display = 'none';
    }
  });
</script>

{% endblock %}

